IDE/plugins/com.clovis.cw.data/xsd/compInstance_resInstance_map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="resourceType">
    <xsd:attribute default=" " name="moID" type="xsd:string"/>
    <xsd:attribute name="autoCreate" type="xsd:boolean"/>
    <xsd:attribute name="primaryOI" type="xsd:boolean"/>
  </xsd:complexType>
</xsd:schema>
